*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1.7;
  color: #333;
  box-sizing: border-box;
}

.header {
  background-color: rgba(84, 252, 84, 0.705);
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__text-box {
  position: absolute;
  top: 60%;
  left: 50%;

  transform: translate(-50%, -100%);
  text-align: center;
  color: #555;
  backface-visibility: hidden;
}

.primary-heading-main {
  font-size: 6.2rem;
  font-weight: 400;
  animation: moveInLeft 2s ease-out;
}

.primary-heading-sub {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  animation: moveInRight 2s ease-out;
}

.btn {
  padding: 1.2rem 3.6rem;
  margin-top: 6rem;
  border-radius: 10rem;
}

.header__link-btn {
  display: inline-block;
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn:link,
.btn:visited {
  font-size: 2.4rem;
  text-decoration: none;
  transition: all 0.4s;

  position: relative;
}

.header__link-btn {
  color: #333;
  background-color: #fff;
}

.btn:hover {
  transform: translateY(-1.4rem);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-0.5rem);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  border-radius: 10rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  background-color: #fff;
  transition: all 0.4s;
}

.btn:hover::after {
  transform: scaleX(1.8) scaleY(1.6);
  opacity: 0;
}
